
body > header {

	margin: 15px 0 42px 0;
	padding: 8px 20px 8px 20px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;

	background: $color-header;
	color: #FFF;

	-webkit-box-shadow: 0px 0px 16px #AAA;

	h1 {
		font-size: 36px;
		margin: 5px 0 5px 0;
		font-family: 'Snippet', sans-serif;
		-webkit-box-flex: 1;
	}

	nav {

		margin: 10px 0 0 0;
		font-family: $font-headings;
		font-weight: 300;
		font-style: normal;
		line-height: 100%;

		ul {

			list-style: none;
			margin: 0;
			padding: 0;

			li {
				float: left;
				margin-right: 4px;
				content: '|';

				a {

					color: #FFFFFF;
					text-decoration: none;
					padding: 2px 6px;
					-webkit-border-radius: 5px;
					-webkit-transition: all .2s;

					&:hover {
						background: #2E0D7F;
					}

				}

			}

		}

	}

}

div.content {

	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-box-pack: center;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 40px;

	h2, h3, h4, h5, h6 {
		font-family: $font-headings;
		font-weight: 700;
		color: $color-headings;
	}

	h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 32px;
	}

	ul {

		margin: 10px;

		li {
			list-style: disc;
			margin: 0 0 0 16px;
		}

	}

	article, section {

		-webkit-box-flex: 1;

		header {

			h1 {
				font-size: 42px;
				font-weight: 700;
				font-family: $font-headings;
				letter-spacing: -.03em;
				color: $color-headings;
				margin: 0 0 .7em 0;
			}

		}

		section {

			h1 {

				font-size: 36px;
				font-weight: 700;
				font-family: $font-headings;
				color: $color-headings;

			}

		}

		h2, h3, h4, h5 {
			margin: .75em 0 .5em 0;
			letter-spacing: -.03em;
		}

		div#social {
			margin: 30px 0 20px 0;
			padding: 10px;
			background: rgba(100,100,100,.2);
			-webkit-border-radius: 6px;
		}

		div#livefyre {
			margin: 0 !important;
		}

		article.teaser {

			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #CCC;

			&:first-of-type {
				border-top: 1px solid #CCC;
				padding-top: 20px;
			}

			header {

				overflow: hidden;

				h1 {
					font-size: 24px;
					margin: 0;
					float: left;
				}

				time {
					float: right;
					font-weight: bold;
				}

			}

			p {
				clear: left;
				width: 70%;
				line-height: 130%;
				margin: 10px 0 0 0;
			}

		}

	}

	aside.left {
		margin: 0 3% 0 -5%; /* give the whole article a more balanced look, when we actually have an aside */
		font-size: 0.85em;
	}

}
