$primary-color: #60F;

$content-margin-external: 60px;
$content-margin-internal: 40px;
$color-header: #333;
$color-headings: #333;
$inverse-color: #FFF;
$font: 'Open Sans', sans;
$font-headings: 'Open Sans', sans;

$break-point: 720px;
$default-padding: 2em;

@mixin row {

	width: 1000px;
	max-width: 100%;
	margin: 0 auto;

}

@import 'bourbon/bourbon';
@import 'reset.css';
@import 'base';
@import 'layout';
@import 'module';
@import 'state';

	.gist .gist-file .gist-data pre {
		font-size: .9em;
		line-height: 130%;
	}

	footer {
		margin: 40px 20px 0 20px;
	}

@media screen and (min-width: $break-point) {
	
	body {

		color: red;

		& > header {

			display: block;
			margin: 0 0 30px 0;
			text-align: center;
			background: $color-header;
			color: #333;
			overflow: hidden;

			h1 {
				font-size: 28px;
				color: #FFF;
				margin: 0;
			}

			nav {

				margin: 0;
				display: -webkit-box;
				-webkit-box-pack: center;

				ul {

					margin: 0 auto;

					li {
						text-align: center;
					}
				}
			}
		}

		div.content {

			width: 90%;

			article, section {

				header {

					h1 {
						font-size: 30px;
						margin: 0 0 14px 0;
					}

					h2 {
						font-size: 20px;
					}

				}

				section {
					h1 {
						line-height: 38px;
					}
				}

				article.teaser {

					header {

						h1 {
							float: left;
						}

						time {
							float: right;
						}

					}

					p {
						width: auto;
					}

				}

			}

			aside.left {
				display: none;
			}

		}

		footer {
			margin: 0 20px 0 20px;
		}

	}

}
