!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		title= locals.title
	body
		h1= page.title
		!= page.html

		- var kbentries = _.chain(contents.kb._.directories).map(function (item) {
		- return item.index
		- }).compact().sortBy(function (item) {
		- return -item.date
		- }).first(5).value();

		each kb in kbentries
			kb.post
				header
					h2= kb.title
