!!! 5
head

	meta(chartset='UTF-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='author', content='Scott Mebberson')

	title= locals.title

	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
	link(href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700', rel='stylesheet', type='text/css');
	link(href='http://fonts.googleapis.com/css?family=Snippet', rel='stylesheet', type='text/css');
	link(href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700', rel='stylesheet', type='text/css');
	link(rel='stylesheet', href='/css/styles-flexbox.css', type='text/css', media='screen')

	block scripts-header

body
	block content-header
		header
			h1= locals.title
			nav
				ul
					li
						a(href='/') Home
					li
						a(href='/posts/') Posts
	div.content
		block content-body

	block content-footer
		footer

	block scripts-footer

|</html>
