extends layout

block scripts-header
	script(src='http://zor.livefyre.com/wjs/v1.0/javascripts/livefyre_init.js')
	script
		/* var fyre = LF({
			site_id: 307073,
			article_id: '#{page.url.replace(/\/(.*?)\/(.*?)\//g, '$2')}'
		}); */
	script
		window.onload = function () {
			var wall = new Masonry(document.getElementById('stream'), {
				columnWidth: 200
			});
		}

block page-header
			header
				div.row
					h1= page.title

block content-body
	section#stream

		for article in articles
			include lifestreaming/event
