extends layout

block scripts-header
	script(src='http://zor.livefyre.com/wjs/v1.0/javascripts/livefyre_init.js')
	script
		var fyre = LF({
			site_id: 307073,
			article_id: '#{page.url.replace(/\/(.*?)\/(.*?)\//g, '$2')}'
		});

block content-body
	article
		header
			h1= page.title

		!= page.html

		div#livefyre